* {
  object-fit: contain;
  margin: 0;
}

body {
  --main-design-color: #01464b;
  --main-title-design-color: #012629;
  --main-bg-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  font-family: Inconsolata, sans-serif !important;
  letter-spacing: 0.7px;
}

/*  media query */
@media screen and (min-width: 1360px){
  .app{
    max-width: 80%;
    margin: 0 auto;
  }
}
