* {
  margin: 0;
  object-fit: contain;
  overflow-x: hidden;
}

body {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
}
webkit-scrollbar {
  display: none;
}
