* {
  margin: 0;
  object-fit: contain;
  overflow-x: hidden;
}

body {
  --main-design-color: #a9a9a9;
  --main-title-design-color: ivory;
  --main-bg-color: #22262a;
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
}
webkit-scrollbar {
  display: none;
}
