.footer {
  width: 100%;
  background: radial-gradient(ellipse at top, #10172a 0%, #090a0f 100%);
  padding: 30px 0 0;

  .nav__socials {
    .nav__socials__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: rgb(202, 202, 202);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0 20px;
        &:hover {
          .nav__icons__title {
            // display: inline;
          }
        }
      }
      .nav__icons__title {
        display: none;
        font-weight: 900;
        font-size: 12px;
      }
      .icons {
        font-size: 42px;
        cursor: pointer;
        padding: 7px 8px;
        color: ivory;
        border-radius: 50%;
        &:hover {
          box-shadow: 1px 0px 3px gray;
        }
      }
      .li {
        background-color: rgb(55, 129, 241);
      }
      .gh {
        background-color: #22262a;
      }
      .em {
        background-color: #ff512f;
      }
      .desc {
        background-color: #5b6166;
      }
    }
  }
  .footer__body {
    .footer__body__container {
      margin-top: 30px;
      h2 {
        padding: 0 10px;
        color: #e2e8f0;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin: 10px auto;
        max-width: 400px;
      }
      .contact__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        .contact__info__div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px 0;
          .icons {
            color: #ff512f;
          }
          p {
            cursor: pointer;
            color: #e2e8f0;
            padding-left: 10px;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
      .copyright {
        border: 1px solid rgba(83, 83, 83, 0.4);
        padding: 5px 0;
        p {
          color: #e4e4e4;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 860px) {
  .footer {
    .footer__container {
      .nav__socials {
        max-width: 55%;
        margin: 0 auto;
      }
    }
  }
}
