.small__nav {
  display: none;
}

.nav {
  background-color: ivory;
}

.nav .nav__menu__icons {
  padding: 20px;
  font-size: 48px;
  cursor: pointer;
}

.nav .nav__close {
  display: none;
  padding: 15px;
}

.nav .nav__close .nav__close__icons {
  cursor: pointer;
  font-size: 40px;
  color: #221d1d;
}

.nav .nav__container {
  margin-top: 30px;
}

.nav .nav__container .nav__title {
  text-align: center;
}

.nav .nav__container .nav__title h1 {
  font-style: italic;
  text-transform: capitalize;
}

.nav .nav__container .nav__title h1 span {
  color: #343b3b;
}

.nav .nav__container .nav__title h3 {
  text-transform: capitalize;
  text-shadow: 0px 1px 2px gray;
}

.nav .nav__container .nav__links {
  margin: 40px 0 80px;
}

.nav .nav__container .nav__links ul {
  padding: 0 40px !important;
  cursor: pointer;
}

.nav .nav__container .nav__links ul .nav__links__tag {
  color: ivory;
  text-decoration: none;
}

.nav .nav__container .nav__links ul .nav__links__tag li {
  text-transform: capitalize;
  background-color: #22262a;
  padding: 10px 15px;
  border-radius: 7px;
  text-align: center;
  margin: 10px 0;
  -webkit-box-shadow: 0px 0px 7px gray;
          box-shadow: 0px 0px 7px gray;
  list-style: none;
}

.nav .nav__container .nav__links ul .nav__links__tag li:hover {
  background-color: #5b6166;
}

.nav .nav__container .nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav .nav__container .nav__socials .nav__socials__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav .nav__container .nav__socials .nav__socials__icons a {
  text-decoration: none;
}

.nav .nav__container .nav__socials .nav__socials__icons .icons {
  font-size: 30px;
  cursor: pointer;
  padding: 6px 3px;
  color: ivory;
}

.nav .nav__container .nav__socials .nav__socials__icons .icons:hover {
  -webkit-box-shadow: 1px 0px 3px gray;
          box-shadow: 1px 0px 3px gray;
}

.nav .nav__container .nav__socials .nav__socials__icons .li {
  background-color: #3781f1;
}

.nav .nav__container .nav__socials .nav__socials__icons .gh {
  background-color: #22262a;
}

.nav .nav__container .nav__socials .nav__socials__icons .em {
  background-color: lightgreen;
}

.nav .nav__container .nav__socials .nav__socials__icons .desc {
  background-color: #5b6166;
}

.nav .nav__container .footer {
  max-width: 90%;
  margin: auto;
}

.nav .nav__container .footer .footer__container {
  padding: 40px 0;
  text-align: center;
}

.nav .nav__container .footer .footer__container .nav__contact {
  margin-top: 30px;
  padding: 0 7px 20px;
  text-align: center;
}

.nav .nav__container .footer .footer__container .nav__contact h2 {
  font-size: 21px;
  font-style: italic;
}

.nav .nav__container .footer .footer__container .nav__contact p {
  color: #696969;
  margin: 10px 0 0;
}

.nav .nav__container .footer .footer__container .nav__contact p a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 760px) {
  .small__nav {
    display: block;
    grid-area: nav;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .small__nav .nav__open {
    padding: 20px 40px;
  }
  .small__nav .nav__open .nav__open__icons {
    font-size: 50px;
    color: #f1eeee;
    cursor: pointer;
  }
  .small__menu {
    display: block !important;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    -webkit-animation: show 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            animation: show 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  @-webkit-keyframes show {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      z-index: -1;
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      z-index: 2;
    }
  }
  @keyframes show {
    from {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      z-index: -1;
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      z-index: 2;
    }
  }
  .nav .nav__close {
    display: block;
  }
  .nav .nav__container {
    margin-top: 30px;
  }
  .nav .nav__container .nav__title {
    text-align: center;
  }
  .nav .nav__container .nav__title h1 {
    font-style: italic;
    text-transform: capitalize;
  }
  .nav .nav__container .nav__title h1 span {
    color: #343b3b;
  }
  .nav .nav__container .nav__title h3 {
    text-transform: capitalize;
    text-shadow: 0px 1px 2px gray;
  }
  .nav .nav__container .nav__links {
    margin: 20px 0 !important;
  }
  .nav .nav__container .nav__links ul {
    cursor: pointer;
  }
  .nav .nav__container .nav__links ul li {
    padding: 10px 32px !important;
  }
  .nav .nav__container .nav__socials {
    display: block !important;
  }
  .nav .nav__container .nav__socials .nav__socials__icons {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav__container .footer {
    max-width: 100% !important;
  }
  .nav .nav__container .footer .footer__container {
    padding: 40px 0;
    text-align: center;
  }
  .nav .nav__container .footer .footer__container .nav__contact {
    margin: 30px 0 20px;
    padding: 0 7px 20px;
    text-align: center;
  }
  .nav .nav__container .footer .footer__container .nav__contact h2 {
    font-size: 21px;
    font-style: italic;
  }
  .nav .nav__container .footer .footer__container .nav__contact p {
    color: #696969;
    margin: 10px 0 0;
  }
  .nav .nav__container .footer .footer__container .nav__contact p a {
    text-decoration: none;
    color: inherit;
  }
}
/*# sourceMappingURL=nav.css.map */