.small__nav {
  display: none;
}
.nav {
  background-color: ivory;
  .nav__menu__icons {
    padding: 20px;
    font-size: 48px;
    cursor: pointer;
  }
  .nav__close {
    display: none;
    padding: 15px;
    .nav__close__icons {
      cursor: pointer;
      font-size: 40px;
      color: rgb(34, 29, 29);
    }
  }

  //   overflow: hidden;
  .nav__container {
    margin-top: 30px;
    .nav__title {
      text-align: center;
      h1 {
        font-style: italic;
        text-transform: capitalize;
        span {
          color: rgb(52, 59, 59);
        }
      }
      h3 {
        text-transform: capitalize;
        text-shadow: 0px 1px 2px gray;
      }
    }
    .nav__links {
      margin: 40px 0 80px;
      ul {
        padding: 0 40px !important;
        cursor: pointer;
        .nav__links__tag {
          color: ivory;
          text-decoration: none;
          li {
            text-transform: capitalize;
            background-color: #22262a;
            padding: 10px 15px;
            border-radius: 7px;
            text-align: center;
            margin: 10px 0;
            box-shadow: 0px 0px 7px gray;
            list-style: none;
            &:hover {
              background-color: #5b6166;
            }
          }
        }
      }
    }
    .nav__socials {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .nav__socials__icons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        a {
          text-decoration: none;
        }
        .icons {
          font-size: 30px;
          cursor: pointer;
          padding: 6px 3px;
          color: ivory;
          &:hover {
            box-shadow: 1px 0px 3px gray;
          }
        }
        .li {
          background-color: rgb(55, 129, 241);
        }
        .gh {
          background-color: #22262a;
        }
        .em {
          background-color: lightgreen;
        }
        .desc {
          background-color: #5b6166;
        }
      }
    }
    .footer {
      max-width: 90%;
      margin: auto;
      .footer__container {
        padding: 40px 0;
        text-align: center;
        .nav__contact {
          margin-top: 30px;
          padding: 0 7px 20px;
          text-align: center;
          h2 {
            font-size: 21px;
            font-style: italic;
          }
          p {
            color: #696969;
            margin: 10px 0 0;
            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .small__nav {
    display: block;
    grid-area: nav;
    position: absolute;
    top: 10px;
    right: 0;
    .nav__open {
      padding: 20px 40px;
      .nav__open__icons {
        font-size: 50px;
        color: rgb(241, 238, 238);
        cursor: pointer;
      }
    }
  }
  .small__menu {
    display: block !important;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    animation: show 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    @keyframes show {
      from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
      }
      to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }
    }

    .nav__close {
      display: block;
    }
    .nav__container {
      margin-top: 30px;
      .nav__title {
        text-align: center;
        h1 {
          font-style: italic;
          text-transform: capitalize;
          span {
            color: rgb(52, 59, 59);
          }
        }
        h3 {
          text-transform: capitalize;
          text-shadow: 0px 1px 2px gray;
        }
      }
      .nav__links {
        margin: 20px 0 !important;
        ul {
          cursor: pointer;
          li {
            padding: 10px 32px !important;
          }
        }
      }
      .nav__socials {
        display: block !important;
        .nav__socials__icons {
          width: 100%;
          margin: auto;
          display: flex;
          flex-direction: row !important;
          flex-wrap: wrap;
          justify-content: space-evenly !important;
          align-items: center;
        }
      }
      .footer {
        max-width: 100% !important;
        .footer__container {
          padding: 40px 0;
          // margin-top: 100px;
          text-align: center;
          .nav__contact {
            margin: 30px 0 20px;
            padding: 0 7px 20px;
            text-align: center;
            h2 {
              font-size: 21px;
              font-style: italic;
            }
            p {
              color: #696969;
              margin: 10px 0 0;
              a {
                text-decoration: none;
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}
