.nav-open {
  overflow: hidden;
}

// .sticky {
//   position: sticky;
//   top: 0;
//   right: 0;
//   left: 0;
//   width: 100%;
//   transition: background-color 0.3s ease;
// }
.nav {
  background-color: #1e293b;
  z-index: 1000;
  .container {
    position: relative;
    z-index: 900;

    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1400px;
      margin: 0 auto;
      padding: 10px 0 10px 10px;
      .menu__icon {
        padding: 0px 20px 0px 0px;
        .icon {
          font-size: 3rem;
          cursor: pointer;
          color: #f8f8f8;
        }
      }
      .img-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 180px;
          height: auto;
        }
      }
    }
    .showMenu {
      display: block !important;
    }
    .menu {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      background-color: #1e293b;
      width: 100%;
      height: 100vh;
      .menu-container {
        position: relative;
        .modal-logo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0 10px 10px;
          a {
            .img-wrapper {
              img {
                width: 180px;
                height: auto;
              }
            }
          }
          .icon__div {
            text-align: right;
            padding: 0 10px;
            .icon {
              font-size: 46px;
              cursor: pointer;
              color: #f8f8f8;
            }
          }
        }
        .main-menu-list {
          li {
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            padding: 10px 15px 0;
            list-style: none;
            margin: 15px 0 0;
            cursor: pointer;
            color: #fff;
          }
          a {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          svg {
            color: #22d3ee;
          }
        }
        .nav-call-to-action-btn {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          grid-gap: 20px;
          align-items: center;
          margin: 20px 0;
          padding: 20px 10px;

          button {
            color: #fff;
            padding: 20px;
            cursor: pointer;
          }
          a {
            text-align: right;
          }
          .member-btn-link {
            background-image: linear-gradient(-20deg, #141b1b 0%, #2d3b3b 100%);
            button {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .nav {
    .container {
      max-width: 95%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1025px) {
  .nav {
    .container {
      display: flex;
      align-items: center;
      max-width: 100%;
      padding: 20px 0 20px 10px;
      .logo {
        padding: 0;
        width: auto;
        flex-shrink: 0;
        display: inline-block;
        .menu__icon {
          display: none;
        }
      }
      .menu {
        display: none;
      }
      .large-screen-menu-wrapper {
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    .container {
      .large-screen-menu {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    .container {
      max-width: 97%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    .container {
      max-width: 95%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1400px) {
  .nav {
    .container {
      max-width: 85%;
      margin: 0 auto;
    }
  }
}
