.projects {
  margin: 40px 0 0px;
}

.projects .projects__container {
  position: relative;
}

.projects .projects__container .project__header {
  padding: 0 10px;
}

.projects .projects__container .project__header .project__title {
  margin: 20px 0 10px;
  font-size: 36px;
  text-transform: uppercase;
  color: #012629;
}

.projects .projects__container .project__header .project__subTitle {
  font-size: 18px;
  line-height: 1.4em;
  color: #01464b;
}

.projects .projects__container .projects__cards_container {
  position: relative;
  max-width: 95%;
  margin: 20px auto 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 440px;
  padding: 10px 0;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-radius: 12px;
}

.projects .projects__container .projects__cards_container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.projects .projects__container .projects__cards_container .project__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.projects .projects__container .projects__cards_container .projects__cards {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  min-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 6px #888888;
          box-shadow: 0 1px 6px #888888;
  margin: 10px 10px 10px;
  padding: 10px 10px 40px;
  border-radius: 12px;
  position: relative;
}

.projects .projects__container .projects__cards_container .projects__cards .project__intro {
  margin: 10px 0;
}

.projects .projects__container .projects__cards_container .projects__cards .project__intro p {
  line-height: 1.3em;
  color: #252525;
}

.projects .projects__container .projects__cards_container .projects__cards .img-hover .projects__img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .projects__container .projects__cards_container .projects__cards .project__cards__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: block;
  cursor: pointer;
}

.projects .projects__container .projects__cards_container .projects__cards .project__cards__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 900;
  margin-top: 5px;
  padding: 7px;
  outline: none;
  text-transform: capitalize;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff512f), color-stop(51%, #f09819), to(#ff512f));
  background-image: linear-gradient(to right, #ff512f 0%, #f09819 51%, #ff512f 100%);
  background-size: 200% auto;
  border: none;
  color: white;
  cursor: pointer;
}

.projects .projects__container .projects__cards_container .projects__cards .project__cards__btn button .btn-icon {
  padding-right: 3px;
}

.projects .projects__container .projects__cards_container .projects__cards .project__cards__btn button:hover {
  background-position: right center;
}

.projects .projects__container .services__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 60px;
}

.projects .projects__container .services__btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  margin: 0 30px;
}

.projects .projects__container .services__btn .btn button {
  width: 100%;
  cursor: pointer;
}

.projects .projects__container .services__btn .btn .prev {
  border: 1px solid #df4163;
}

.projects .projects__container .services__btn .btn .next {
  background-color: #27d3a8;
  color: #fff;
}

.projects .projects__container .overlay-div {
  background-color: #494949;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 100;
}

.projects .projects__container .main__modal {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  margin: 0 auto;
  z-index: 300 !important;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  -webkit-animation: show 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: show 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    z-index: 300;
  }
}

@keyframes show {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    z-index: 300;
  }
}

.projects .projects__container .modal {
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 20px;
}

.projects .projects__container .modal .modal__container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
}

.projects .projects__container .modal .modal__container .projects__img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #343a41;
}

.projects .projects__container .modal .modal__container .projects__cards--popup {
  padding: 10px;
  background-color: #343a41;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .project__body {
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 350px;
  padding-bottom: 20px;
  margin: 10px 0;
}

@media screen and (max-width: 360px) {
  .projects .projects__container .modal .modal__container .projects__cards--popup .project__body {
    height: 220px;
  }
}

@media screen and (min-width: 490px) {
  .projects .projects__container .modal .modal__container .projects__cards--popup .project__body {
    height: 100%;
  }
}

.projects .projects__container .modal .modal__container .projects__cards--popup .project__body::-webkit-scrollbar {
  width: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .project__body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.projects .projects__container .modal .modal__container .projects__cards--popup .project__body::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #7b9ab3;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup-title svg {
  font-size: 22px;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup-title button {
  cursor: pointer;
  color: #2b2c2e;
  border: none;
  border-radius: 40%;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup-title button:hover {
  background-color: #d5d7df;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup-title span {
  color: #fff;
}

.projects .projects__container .modal .modal__container .projects__cards--popup h2 {
  margin: 0;
  color: ivory;
  text-transform: capitalize;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .projects__cards--popup__tech {
  margin: 10px 0;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .projects__cards--popup__tech ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .projects__cards--popup__tech ul li {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin: 10px 10px 10px 0;
  list-style: none;
  border: 1px solid #000;
  padding: 3px 5px;
  text-align: center;
  color: #bac8d6;
  text-shadow: 0px 0px 0.5px #fff;
  text-transform: capitalize;
}

.projects .projects__container .modal .modal__container .projects__cards--popup span {
  color: #fff;
  text-transform: capitalize;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .project__para {
  color: #94a4b4;
  margin: 10px 0 30px;
  height: 180px;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .project__para ul {
  margin-bottom: 20px;
  padding: 0 0px 0 10px;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .project__para ul li {
  font-size: 14px;
  list-style-type: disc !important;
  margin-bottom: 10px;
  line-height: 1.5em;
  text-shadow: 0px 0px 0.5px #fff;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 20px 0;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn button {
  width: 100%;
  padding: 7px 25px;
  font-size: 22px;
  border: none;
  border-radius: 7px;
  color: ivory;
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  border: none;
  border-radius: 7px;
  color: ivory;
  text-decoration: none;
  text-transform: capitalize;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn button .dark {
  color: #000;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn button .dark:hover {
  color: #fff;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn button span {
  padding-right: 3px;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn .demo {
  background-color: #27d3a8;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn .demo:hover {
  background-color: rgba(126, 117, 117, 0.6);
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn .code {
  background-color: #fce4b9;
  color: #000;
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn .code:hover {
  background-color: rgba(148, 142, 132, 0.6);
}

.projects .projects__container .modal .modal__container .projects__cards--popup .popup__btn .code:hover .dark {
  color: #fff;
}

@media screen and (min-width: 860px) {
  .projects .projects__container .project__header {
    max-width: 55%;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1500px) {
  .projects .projects__container .project__header {
    max-width: 35%;
    padding-left: 40px;
  }
}

@media screen and (min-width: 760px) {
  .main__modal {
    top: 70px !important;
    left: 50px !important;
  }
  .modal .modal__container {
    height: 70vh !important;
  }
  .modal .modal__container .projects__cards--popup .project__body {
    overflow-x: hidden !important;
    height: 100%;
  }
  .modal .modal__container .projects__cards--popup .project__body .projects__cards--popup__tech ul li {
    -webkit-box-flex: 25% !important;
        -ms-flex: 25% !important;
            flex: 25% !important;
  }
}

@media screen and (min-width: 1060px) {
  .projects .projects__container .projects__cards_container .projects__cards {
    min-width: 340px;
    padding-bottom: 60px;
  }
  .main__modal {
    top: 70px !important;
    left: 30% !important;
    max-width: 40% !important;
  }
  .modal .modal__container {
    height: 80vh !important;
  }
}
/*# sourceMappingURL=project.css.map */