.showCase {
  // background-color: #10172a;
  background: radial-gradient(ellipse at bottom, #10172a 0%, #090a0f 100%);
  .showCase__container {
    padding: 60px 20px;
    .title {
      color: #e2e8f0;
      font-size: 36px;
      font-weight: 900;
      text-transform: capitalize;
    }
    .role {
      color: #e2e8f0;
      font-size: 18px;
      font-weight: 900;
      text-transform: capitalize;
      margin: 5px 0 0;
    }
    .intro {
      max-width: 400px;
      margin: 10px 0;
      color: #94a3bb;
      line-height: 1.3em;
      font-size: 16px;
    }
    .btn__div {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        text-decoration: none;
        color: #000;
      }
      button {
        z-index: 1;
        margin: 10px 0;
        font-size: 16px;
        background-color: #0078d7;
        color: #fff;
        width: 100%;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          background-color: rgb(29, 103, 128);
        }
      }
    }
  }
}

//  Media queries

@media screen and (min-width: 760px) {
  .showCase {
    .showCase__container {
      width: 85%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1180px) {
  .showCase {
    .showCase__container {
      width: 75%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .showCase {
    .showCase__container {
      width: 60%;
    }
  }
}
