/* Import Tailwind's base, and utilities */
@import 'tailwindcss';

@theme {
  --color-brand: #22d3ee;
  --color-primary: #1e293b;
  --color-secondary: #f1f5f9;
  --color-neutral1: #334155;
  --color-neutral2: #64748b;
  --color-success: #10b981;
}
/* global fonts */
html {
  font-family: 'Open Sans', sans-serif; /* Default font for body text */
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif; /* For headings */
}

h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif; /* For subheadings */
}

blockquote {
  font-family: 'Lato', sans-serif; /* For quotes */
}

.caption {
  font-family: 'Open Sans', sans-serif; /* For captions */
}
